
[Bb]in/
[Oo]bj/
publish/

.vs/
*.user
*.rsuser
*.suo

.idea/

.vscode/

TestResults/
*.trx

*.log

packages/
*.nupkg

secrets.json

appsettings.Development.json
launchSettings.json

*.mdf
*.ldf

Thumbs.db
.DS_Store